# Databricks
.databricks

# Build / Distribution
build/
dist/
*.egg-info

# IDE
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd